<!doctype html>
<html>

<body>
    <h1>F1 Data Viz</h1>
    <a href='/'>Home</a>
    <form action='/fastf1' method='POST'>
      <select id='year' name='year'>
        <option value='2021'>2021</option>
        <option value='2020'>2020</option>
        <option value='2019'>2019</option>
        <option value='2018'>2018</option>
      </select>
      <select id='circuit' name='circuit'>
        <option value='Silverstone'>Silverstone</option>
        <option value='Monza'>Monza</option>
        <option value='Austria'>Austria</option>
      </select>
      <select id='drivers' name='drivers' multiple>
        <option value='HAM'>Hamilton</option>
        <option value='BOT'>Bottas</option>
        <option value='VER'>Verstappen</option>
        <option value='NOR'>Norris</option>
        <option value='RIC'>Riccardo</option>
        <option value='GAS'>Gasly</option>
        <option value='SAI'>Sainz</option>
        <option value='RUS'>Russell</option>
        <option value='VET'>Vettel</option>
      </select>
      <input type='submit' value='go'>
    </form>
    <div id="chart" class="chart"></div>
</body>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

</html>